<p>location works!</p>
<div class="container  ">
    <div class="location    ">
        <h2 class="status  align-center mb-4" style="text-align: center;">THis is a Location project </h2>
        <div class="row">
            <div class="col col-3">
                <button class="find-state" (click)="getLocation()"> Locate me</button>
            </div>
            <div class="col col-3">
                <button class="find-state" (click)="getHistory()"> History</button>
            </div>
            <div class="col col-3">
                <button class="find-state" (click)="getPlayerName()"> PlayerName</button>
            </div>
            <div class="col col-3">
                <button class="find-state" (click)= "getLogOut()"> Log-Out</button>
            </div>
           
        </div>
        
    </div>
    
</div>